<!DOCTYPE html>
<html>
<head>

<link> href="static/style.css" rel="stylesheet" type = "text/css">
<title>Story-nator</title>
</head>
<body>
<form method = "POST">
{%if stories%}
<h1>
Choose a story:
</h1>
<select name = "storyselection">
{%for story in stories%}
  <option> {{story}}</option>
{%endfor%}
</select>
<input type = "submit" name = "button" value = "Go" /input>
<h2>
Or...
</h2>
{%endif%}
<h3>
Add a new tale:
</h3>
<input type="text" name="storyname" /input>
<input type = "submit" name = "button" value = "Add" /input>
</form>
</body>
</html>
