body {
background:rgb(197,137,137);
width:100%;
height:100%;
}

.italicstyle1{
font-family:"Times New Roman";
font-style:italic;
}

.placeholder{
font-family:"Times New Roman";
font-style:italic;
color:gray;
}

.bodystyle {
font-family:"Arial Narrow";
}

.titlestyle {
color:rgb(244,164,96);
font-family:"Century Gothic, sans-serif";
text-decoration:underline;
}

.widen {
width:15%;
}



