<!DOCTYPE html>
<html>

<head>
  <h1>Stories</h1>
</head>

<BODY bgcolor="#000000">
<BODY TEXT="#FFFFFF">

<br />

 {% if stories %}
        <form id="main_menu" action="" method="POST">
            <select name="story_menu">
            {% for story in stories %}
                <option value="{{ story }}">{{ story }}</option>
            {% endfor %}
            </select>
            <input type="submit" value="Go">
        </form>
    {% endif %}


  <br />
  <br />
	<input type="submit" name="button" value="Delete Selected Story">
  <br />
  <br />

  <b>New Story Name:</b>
    <form id="add_story_form" action="" method="POST">
    <input type="text" class="input-small" name = "add_story_field" placeholder="New Story">
	<input type="submit" name="button" value="Add Story">
</form>


