<html>

<head>
</head>

<BODY bgcolor="#000000">
<BODY TEXT="#FFFFFF">

<br />
<form action="" method="POST">
  <b>Text:</b>
  <br />

  {% for line in lines %}
        <p>{{ line|safe }}</p>
    {% endfor %}
  
  <br/>
  <input type=submit name=button Value="Delete Last Line" 
	 background-color:#FFFFFF>
  <br/>
  <br/>
  <br />
  <b>New Line:</b>
  <br />
    <form id="add_line_form" method="POST" action="">
        <textarea name="add_line_field" rows="4" cols="80"></textarea>
        <input type="submit" value="Add Line">
    </form>
  <br />
  <br/>
  <br />
  <br />

<form METHOD="LINK" action="">
<input TYPE="submit" VALUE="Back">
</form>


