<!DOCTYPE html>
<html lang = "en">
<head>
<BODY bgcolor="00E8BA">
</head>
<body>
<p1>
The title of the story the user clicked goes here
</p1>
<br>
<p2>
The next sentences continue here
</p2>
<form method="POST">
<input type="hidden"  name="story" width=80 value="Titleofstoryuserisworkingon"/>
Next Line:<br>
 <textarea rows="4" cols="80" name="newline">
</textarea>
<input type=submit name=button value="save"></input>
<input type=submit name=button value="cancel"></input>

</form>
</body>
</html>
