<!DOCTYPE html>
<html lang = "en">
<font face="Georgia">
<head>
<BODY bgcolor="00E8BA">
</head>
<body>
<p>
<p style="text-align: center;">
<font size ="20">Write a unique story with the</font>
</p>
<p>
<p style="text-align: center;">
<a href="http://tinypic.com?ref=fc63va" target="_blank"><img src="http://i49.tinypic.com/fc63va.gif" border="0" alt="Image and video hosting by TinyPic"></a>
</p>
<h3>Select an existing story:</h3>
<select name = "story">
<% for story in stories>
	<option value="{{story}}"> {{story}}</option>
{%endfor%}
</select>
<br>
<button type="submit" class="btn">Go</button> #redirects user to another html page like in the demo version which I will code later
<section id="comments">
<div id="respond">
    <h3>Don't see a story you want to add to? Create your own!</h3>
    <form action="post_comment.php" method="post" id="commentform"> 
	<p>
    <label for="comment" class="required">First sentence:</label>
    </p>
	<form method="POST">
<input type="hidden"  name="story" width=80 value="Titleofstoryuserisworkingon"/>
 <textarea rows="4" cols="80" name="newline">
</textarea>
<br>
        <input name="submit" type="submit" value="Submit" /> #stores new sentence in database and makes it so that it appears in dropdown menu 
    </form>
</div>
</body>
</html>