<!DOCTYPE html>
<html lang = "en">
<head>
<BODY bgcolor="00E8BA">
</head>
<body>
<p>
<p style="text-align: left;">
<font size ="20">Write a unique story with the</font>
</p>
<p>
<a href="http://tinypic.com?ref=fc63va" target="_blank"><img src="http://i49.tinypic.com/fc63va.gif" border="0" alt="Image and video hosting by TinyPic"></a>
</p>
<h3>Select a story</h3>
<select>
  <option>story1</option>  ###these options will have to come from the database somehow
  <option>story2</option>
  <option>story3</option>
</select>
<button type="submit" class="btn">Go</button> ###redirects user to another html page like in the demo version which I will code later
<section id="comments">
<div id="respond">
    <h3>Create a new story</h3>
    <form action="post_comment.php" method="post" id="commentform"> 
		<p>
        <label for="comment" class="required">First sentence</label>
        </p>
		<textarea name="comment" id="comment" rows="10" tabindex="4"  required="required"></textarea>
        <input type="hidden" name="comment_post_ID" value="1" id="comment_post_ID" />
        <input name="submit" type="submit" value="Submit" /> ###stores new sentence in database and makes it so that it appears in dropdown menu 
    </form>
</div>
</body>
</html>