<!DOCTYPE html>

<html lang="en">
  <head>
    {% block head %}
    <!--link rel="stylesheet" type="text/css" href="/htmlks/css/kickstart.css" media="all" /> 
    <link rel="stylesheet" type="text/css" href="/htmlks/style.css" media="all" /--> 
    <style type="text/css">
body{background-color:#FFFFCC}

    </style>
   <p><img src="{{url_for('static', filename='customLogo.jpg') }}"
   alt="LOGO"><b><font color=#00FFFF><p style="font-size:30px">Dina
   and Wilson's Storynator</font></b></p>

    {% endblock %}
  </head> 
  
  <body>
    {% block body %}

    {% endblock %}
  </body>

</html>
