<!DOCTYPE html>

{% extends 'base.html' %}
{% block head %}
    {{ super() }}
<style> </style>
{% endblock head %}

{% block body %}

<form action="" method="POST">
{% if titles %}
<p><h1> Select a story to work with </h1>
<select name ="story">
{% for title in titles %}
  <option> {{title}}</option>
{% endfor %}
</select>
<input type="submit" name="button" value="Ok">
<input type="submit" name="button" value="Drop Stories">
{% endif %}
<p>Or Add a new story</p>
<p>New Story: <input type="text" name="New Story">
<p><input type="submit" name="button" value="Add New Story">
{% endif %}

</form>

{% endblock body %}

