<!DOCTYPE html>
<form action="" method="post">
<html lang = "en">
<head>
<BODY bgcolor="#a7daf2">
<meta>
<title> Twitter Bootstrap Version2.0 inline form layout
example</title>
<meta name = "description" content ="Twitter Bootstrap Version2.0>
<link href="twitter-bootstrap-v2/docs/assets/css/bootstrap.css"
rel="stylesheet">
</head>
<body>
<p>
<p style="text-align: center;">
<font size ="20"> Story Homepage</font>
</p>

<form class="well form-inline">

<form action="">
<select name="cars">
<option value="volvo">Story1</option>
<option value="saab">Story2</option>
<input type="submit" value="View Story">

</select>
</form>
<br>
<br>
  <form name="input" action="html_form_action.asp" method="get">
<input type="text" name="FirstName" value="~New Story Title~">
<input type="submit" value="Add Story">
</form> 
<input type=hidden name=user value={{myemail}}>
</form>
</body>
</html>