<!DOCTYPE html>
<form action="" method="post">
<html lang = "en">
<head>
<BODY bgcolor="#a7daf2">
<meta>
<title> Twitter Bootstrap Version2.0 inline form layout
example</title>
<meta name = "description" content ="Twitter Bootstrap Version2.0>
<link href="twitter-bootstrap-v2/docs/assets/css/bootstrap.css"
rel="stylesheet">
</head>
<body>
<p>
<p style="text-align: center;">
<font size ="20"> Olden Stories</font>
</p>

<form class="well form-inline">

 
<input type=hidden name=user value={{myemail}}>
<form name="input" action="html_form_action.asp" method="get"> <br>
<input type="text" name="FirstName" value="">
<input type="submit" value="Add Line">

 <p><input type=submit name=button value="Back">
</form> 
</form>
</body>
</html>