<!doctype HTML>

{% extends "master.html" %}

{% block pgName %}</br>Home Page</br>{% endblock %}

{% block content %}

  <form action="" method="post">
    <select name="stories">
      {% for story in allTitles %}
      <option>{{ story }}</option>
      {% endfor %}
    </select>
    
    <br>

    <input type="submit" name="button" value="go"></input>

    <br><br>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    
    <br><br>

    New Story: <input type="text" name="newStory"></input>
    <br>

    <p><input type="submit" name="button" value="create">

    </br></br>
    </br></br>
  </form>

{% endblock %}
