<!DOCTYPE html>
<html>
  <head>

  </head>

  <body>

  <h1>Storinator</h1>

  <form action="" method="POST">
    <select name="stories" name="stories">
      {% for story in stories %}
      <option value=story>story</option>
      {% endfor %}
      </select>
    <br>
    <input type=submit name=button value="go"></input>

    <br><br>
    New Story: <input type=text name="newStory"></input>
    <br>
    <input type=submit name=button value="create"></input>
e="stories">
      {% for story in stories %}
      <option value=story>story</option>
      {% endfor %}
      </select>
    <br>
    <input type=submit name=button value="go"></input>

    <br><br>
    New Story: <input type=text name="newStory"></input>
    <br>
    <input type=submit name=button value="create"></input>
    <br>
  </form>

  </body>

</html>
