<html>
<h1>
  Add Your Work To Be Peer-Reviewed
</h1>
<body>
  <form action="" method="POST">
    Title:
    <input type="text" name="title">
    <br>
    Author:
    <input type="text" name="author"> <input type="checkbox" name="anon"> Click to make Anonymous
    <br><br>
    <textarea name="work" cols="100" rows="50" placeholder="Copy and paste your work here"></textarea>
    <br>
    Would you like feedback: <input type="checkbox" name="feedback">
    <input type="submit" name="submit" value="Submit">
    <input type="submit" name="back" value="Back">
  </form>
</body>
</html>
