<!DOCTYPE html>

<link rel="stylesheet" type="text/css" href="style1.css">

<h1>{{story}}</h1>
<br>
<br>
{% for l in lines%}
{{l}}
<p>
{% endfor %}	

<form method ="POST">
<input type="hidden" name="story" value="{{story}}"></input>
New line: <br>
<textarea rows = "4" cols="80" name="newlines"></textarea>
<br>
<input type="submit" name="button" value="Save"></input>
</form>


<style type="text/css">
	h1{font-style: bold; font-style: underline; font: Arial; color: navy;}
	form{background-color: beige}
</style>
