<!DOCTYPE html>

<link rel="stylesheet" type="text/css" href="style1.css">

<form method ="POST">
<h1>{{title}}</h1>
<br>
<br>
{% for line in lines%}
{{line}}
<p>
{% endfor %}
<input type="hidden" name="story" value="{{title}}"></input>
Add a new line: <br>
<textarea rows = "4" cols="80" name="newLine"></textarea>
<br>
<input type="submit" name="button" value="Save"></input>
</form>


<style type="text/css">
	h1{font-style: bold; font-style: underline; font: Arial; color: navy;}
	form{background-color: beige}
</style>
